<div class="spec_main">
ユーザー情報登録画面
  <div class="top">
    <div class="input_box">
    あなたの身体機能を記入してください
      <%= form_with model: @spec, url:specs_path, local: true do |f| %>
      <div class="spec_box">
        
        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">身長</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:heigth_id, Heigth.all, :id, :name, {}, {class:"heigth-select"}) %> cm
        </div>

        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">性別</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"gender-select"}) %>
        </div>

        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">年代</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:age_id, Age.all, :id, :name, {}, {class:"age-select"}) %> 代
        </div>

        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">活動レベル</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:active_level_id, ActiveLevel.all, :id, :name, {}, {class:"active_level-select"}) %>
        </div>  
      </div>

      <div class="form_text_box" >
        <div class='form_text_wrap'>
          <label class="form_text">あなたの年代の平均体重</label>
        </div>
        <%= f.text_field :user_calorie, class:"user_calorie" %> kg
      </div> 

      <div class="output_box">
      あなたの1日平均摂取栄養素
        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">カロリー</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :user_calorie, class:"user_calorie" %> kcal
        </div> 

        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">タンパク質</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :user_protein, class:"user_protein" %> g
        </div> 

        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">糖質</label>
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :user_sugar, class:"user_sugar" %> g
        </div> 

        <div class="form_text_box" >
          <div class='form_text_wrap'>
            <label class="form_text">脂質</label>
          </div>
          <%= f.text_field :user_lipid, class:"user_lipid" %> g
        </div> 
      </div>
      <% end %>
    </div>
  </div>
</div>